/* Attendance Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #1f2937;
}

#attendance {
    padding: 20px;
    width: 81%;
    margin: 0 auto ;
    /* background-color: #fff; */
    border-radius: 5px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    min-width: 45%;
}

.space{
    margin-right: 10px;
}

#attendance h2 {
    text-align: center;
    color: #f7b731;
    margin-bottom: 20px;
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.attendance-header {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #273045;
    color: #fff;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table ,.attendance-header{
    animation: bounceIn 1s ease;
}

@keyframes bounceIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #1f2937;
    color: #fff;
}

table td.present {
    color: #28a745;
}

table td.absent {
    color: #dc3545;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}